<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
		<add key="connectionString" value="Data Source=LAPTOP-957DU9BE\SQLEXPRESS;Initial Catalog=Delivery Restaurant;Integrated Security=true"/>
		<add key="parentTable" value="Speisen"/>
		<add key="childTable" value="Kunden"/>
	</appSettings>
</configuration>

